@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    list-style: none;
    background-color: rgb(80, 21, 3);
    width: 100%;
    height: 70px;
    padding: 0 0vw;
    box-shadow: 0 5px 30px black;
    z-index: 999;
}

.navbar-item {
    color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.4s;
    width: fit-content;
    padding: 10px;
}

.navbar-item:hover:not(.important) {
    background-color: rgb(50, 17, 3);
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgb(0, 0, 0);
}

.important {
    font-size: xx-large;
    font-weight: 900;
    cursor: default;
}

#landing {
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-image: url(images/landing-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;;
}

#landing h1 {
    font-size: 4rem;
    color: rgb(234, 223, 192);
    position: relative;
    font-weight: 900;
    letter-spacing: -2px;
    font-family: 'Momo Trust Display';
}

#landing h1 span {
    position: relative;
    color: rgb(6, 70, 6);
    -webkit-text-stroke: 0.5px rgb(234, 223, 192);
    font-family: "Momo Trust Display";
    font-weight: 900;
}

@media (max-width: 900px) {
    #landing h1 span {
        -webkit-text-stroke: 0px;
        color: rgb(170, 255, 199);
    }
}

#landing h1 span::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 5px;
    background: rgb(234, 223, 192);
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

#landing h1 span:not(.stop-blinking)::before {
    animation: blink 1s infinite;
}

@keyframes  blink {
    50% {
        opacity: 0;
    }
}

#typewritter-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#title-wrapper {
    margin-top: 170px;
    margin-left: 10%;
}

.bold {
    font-weight: 800;
}

h2 {
    font-weight: 900;
    margin-bottom: 40px;
    font-size: 1.5rem;
}

.presentation *, h2 {
    color: rgb(2, 56, 2);
}

.presentation {
    padding: 40px 30px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-height: 10%;
}

@media (max-width : 700px) {
    .presentation {
        grid-template-columns: 1fr;
    }
}

#img-wrapper img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 80px;
    position: relative;
}

img {
    opacity: 0;
    transition: 1s ease ;
}

.show {
    opacity: 1;
    transition: 1s ease;
}

.items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

@media (max-width: 1000px) {
    .items-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    svg {
        right: 10px;
        opacity: 1 !important;
    }
}

@media (max-width: 700px) {
    .items-wrapper {
        grid-template-columns: 1fr;
    }
}

.item {
    padding: 20px;
    flex-grow: 1;
    line-height: 30px;
}

.item img {
    border-radius: 50px;
    border: 1px solid black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.486);
    width: 80%;
}

.item button {
    width: 80%;
    height: 8%;
    border: none;
    background-color: beige;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 15px;
    transition: 0.4s ease;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 1rem;
    position: relative;
}

.item button:hover {
    background-color: rgb(255, 255, 245);
    transform: translateY(-5px);
    box-shadow: 0 5px 5px black;
}

.item button:active {
    background-color: rgb(255, 255, 230);
    transform: translateY(1px);
    box-shadow: none;
}

.item button svg {
    height: 16px;
    margin-left: 5px;
    position: absolute;
    opacity: 0;
}

.item button:hover svg {
    animation: arrow-spawn 0.6s ease forwards;
}

@keyframes arrow-spawn {
    0% {
        opacity: 0;
        right: 20%;
    }
    20% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        right: 10px;
        opacity: 1;
    }
}

.menu  {
    padding: 40px 30px;
}

a {
    text-decoration: none;
    color: white;
}

section {
    scroll-margin-top: 70px;
}
