@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    list-style: none;
    background-color: rgb(80, 21, 3);
    width: 100%;
    max-height: 70px;
    padding: 0 0;
    box-shadow: 0 5px 30px black;
    z-index: 999;
}

.navbar-item {
    color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.4s;
    width: fit-content;
    padding: 10px;
}

.navbar-item:hover:not(.important) {
    background-color: rgb(50, 17, 3);
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgb(0, 0, 0);
}

.important {
    font-size: 40px;
    font-weight: 900;
    cursor: default;
}

#landing {
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-image: url(images/landing-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;;
}

#landing h1 {
    font-size: 4rem;
    color: rgb(234, 223, 192);
    position: relative;
    font-weight: 900;
    letter-spacing: -2px;
    font-family: 'Momo Trust Display';
}

#landing h1 span {
    position: relative;
    color: rgb(6, 70, 6);
    -webkit-text-stroke: 0.5px rgb(234, 223, 192);
    font-family: "Momo Trust Display";
    font-weight: 900;
}

@media (max-width: 900px) {
    #landing h1 span {
        -webkit-text-stroke: 0px;
        color: rgb(170, 255, 199);
    }
    #landing h1 {
        font-size: 3rem;
    }
    #landing {
        height: 80vh;
    }
    #title-wrapper {
        margin-top: 100px !important;
    }
    .important {
        font-size: larger;
    }
    .navbar-item {
        font-size: smaller;
    }
}

#landing h1 span::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 5px;
    background: rgb(234, 223, 192);
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

#landing h1 span:not(.stop-blinking)::before {
    animation: blink 1s infinite;
}

@keyframes  blink {
    50% {
        opacity: 0;
    }
}

#typewritter-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#title-wrapper {
    margin-top: 170px;
    margin-left: 10%;
}

.bold {
    font-weight: 800;
}

h2 {
    font-weight: 900;
    margin-bottom: 40px;
    font-size: 1.5rem;
}

.presentation *, h2 {
    color: rgb(2, 56, 2);
}

.presentation {
    padding: 40px 30px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-height: 10%;
}

@media (max-width : 700px) {
    .presentation {
        grid-template-columns: 1fr;
    }
}

#img-wrapper img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 80px;
    position: relative;
}

img {
    opacity: 0;
    transition: 1s ease ;
}

.show {
    opacity: 1;
    transition: 1s ease;
}

.items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

@media (max-width: 1000px) {
    .items-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .menu svg {
        right: 10px;
        opacity: 1 !important;
    }
}

@media (max-width: 700px) {
    .items-wrapper {
        grid-template-columns: 1fr;
    }
}

.item {
    padding: 20px;
    flex-grow: 1;
    line-height: 30px;
}

.item img {
    border-radius: 50px;
    border: 1px solid black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.486);
    width: 80%;
}

.item button {
    width: 80%;
    height: 8%;
    border: none;
    background-color: beige;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 15px;
    transition: 0.4s ease;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 1rem;
    position: relative;
}

.item button:hover {
    background-color: rgb(255, 255, 245);
    transform: translateY(-5px);
    box-shadow: 0 5px 5px black;
}

.item button:active {
    background-color: rgb(255, 255, 230);
    transform: translateY(1px);
    box-shadow: none;
}

.item button svg {
    height: 16px;
    margin-left: 5px;
    position: absolute;
    opacity: 0;
}

.item button:hover svg {
    animation: arrow-spawn 0.6s ease forwards;
}

@keyframes arrow-spawn {
    0% {
        opacity: 0;
        right: 20%;
    }
    20% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        right: 10px;
        opacity: 1;
    }
}

section {
    padding: 40px 30px;
    scroll-margin-top: 70px;
}

a {
    text-decoration: none;
    color: white;
}

.textarea:focus + label {
    z-index: 999;
    color: rgb(2, 56, 2);
    top: -10px;
    background-color: white;
    position: absolute;
    left: 5px;
    font-size: .9rem;
    cursor: default;
}

.textarea:not(:focus) + label {
    z-index: 999;
    color: hsl(0, 0%, 30%);
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
}

.textarea:empty + label {
    display: none;
}

label {
    transition: .2s;
    display: flex;
    align-items: center;
    cursor: text;
}

.textarea {
    min-height: 30px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 4px;
    color: red;
    resize: none;
    align-items: end;
}

.inputs-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
}

.infos {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*  Calendar */

.calendar-header {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-top: 4px;
    height: 20%;
}

.calendar-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
    grid-area: 1 / 1 / 3/ 8;
    background-color: rgb(130, 189, 238);
    border-radius: 10px 10px 0 0;
    font-size: 1.2rem;
    align-items: center;
}

.calendar {
    border-radius: 15px;
    width: 250px;
    height: fit-content;
}

.nav-buttons {
    position: absolute;
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-self: center;
    padding: 0 10px;
}

.nav-btn {
    border: none;
    background-color: transparent;
    padding: 5px;
    border-radius: 50px;
}

.nav-btn:hover {
    backdrop-filter: brightness(90%);
}

.week-days {
    grid-area: 3 / 1 / 3 / 8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(163, 213, 255);
    align-items: center;
}

.days  {
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    height: 40%;
}

.has-events {
    background-color: hsl(0, 0%, 79%);
    cursor: default;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
}

.today-btn {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: hsl(0, 0%, 69%);
    transition: 0.4s;
    height: 40px;
}

#today-btn:hover {
    background-color: hsl(0, 0%, 57%);
}

#today-btn:active {
    background-color: hsl(0, 0%, 75%);
}

.day:not(.has-events) {
    cursor: pointer;
    border-radius: 10px;
}

.day:not(.has-events):hover {
    background-color: hsl(0, 0%, 85%);
}

#open-calendar {
    width: 60px;

}

input[type = "text"] {
    border-radius: 10px;
    padding-left: 5px;
    height: 30px;
    border: 0.5px solid black;
}

#open-calendar:focus  + .calendar-wrapper:not(.dontOpen), .calendar-wrapper:not(.dontOpen):hover {
    display: block;
}

.calendar-wrapper {
    display: none;
}

.dontOpen {
    display: none;
}

.calendar-footer {
    display: flex;
    gap: 40px;
    margin-top: 10px;
}

#confirm {
    background-color: rgb(48, 121, 2);
    color: white;
}

#confirm:hover {
    background-color: rgb(58, 145, 5);
}

/* Socials button */

.socials-menu {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0;
    width: 60px;
}

#social-trigger {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(0, 0, 0);
    position: relative ;
}

.icon {
    position: absolute;
    width: 20px;
    height: 20px;
    color: white;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.open-socials {
    opacity: 1;
    transform: rotate(0deg);
}

#social-trigger:hover .open-socials {
    transform: rotate(360deg);
    pointer-events: none;
}



.icons-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#socials-popup {
    display: none;
    position: relative;
}

.socials-menu:hover #socials-popup {
    display: flex;
}



/* Menu from  https://uiverse.io/profile/PriyanshuGupta28  (modified)*/

ul {
  list-style: none;
}

.example-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.example-1 .icon-content {
  margin: 0 10px;
  position: relative;
  animation: socialsIconsSpawn 0.5s ease-out forwards;
  z-index: -1;
}
.example-1 .icon-content .tooltip {
  position: absolute;
  left: -80px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-1 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
.example-1 .icon-content .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #dddddd;
  transition: all 0.3s ease-in-out;
}
.example-1 .icon-content .link:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  background-color: #d2d2d2;
}
.example-1 .icon-content .link img {
  width: 30px;
  height: 30px;
}
@keyframes socialsIconsSpawn {
    0% {
        transform: translateY(200px);
        opacity: 0;
        z-index: -1;
    }
    99% {
        transform: translateY(0);
        opacity: 1;
        z-index: -1;
    }
    100% {
        z-index: 0;
    }
}
